name: build and publish

on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and Publish
      uses: docker/build-push-action@v1
      with:
        username: jakewharton
        password: ${{ secrets.DOCKER_HUB_TOKEN }}
        repository: jakewharton/gitout
        tag_with_ref: true
        add_git_labels: true

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - uses: actions-rs/cargo@v1
      if: "!startsWith(github.event.ref, 'refs/tags')"
      with:
        command: publish
        args: --dry-run
